{% block sidebar %}

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">About Me</h5>
            <div class="card-body">
                <pre id="json">
                    {
                    "full_name": "Genhai Yu",
                    "objective": "Full-stack or Back-end development",
                    "phone": "+1 (626) 226-7523",
                    "city": "Valinda",
                    "state": "CA"
                    }
                </pre>
                <a href="#" class="btn btn-danger">Know more</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}
